<html>
    <h1>請至信箱進行驗證</h1>
    <form action="/auth/email" method="POST">
        <div>
            <label for="AuthNumber">驗證碼</label>
            <input type="text" id="AuthNumber" name="AuthNumber" required>
        </div>
        <button type="submit">驗證</button>
    </form>
</html>